/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Menu */
.menu{
    background: linear-gradient(90deg, #1b5e20, #2e7d32, #4caf50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 35px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    padding: 8px 15px;
    border-radius: 8px;
}

.menu a:hover{
    background-color: rgba(255,255,255,0.2);
    transform: translateY(-2px);
}
