nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    background-color: #9f6c4b;
    padding: 15px;
    color: beige; 
    text-decoration: none;
}

.titulo {
    color: #9f6c4b;
    padding: 0 10px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
